@using System.Globalization
@model List<BudgetModel>

<div class="container">
	<div class="row">
		<div class="col-12">
			<h3 class="text-center">Budget Calculator</h3>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-12">
			<table class="table table-striped">
				<tr>
					<th>Description</th>
					<th>Value</th>
					<th>Actions</th>
				</tr>
				@foreach (var budget in Model)
				{
					<tr>
						<td>@budget.Description</td>
						<td class=@(budget.Value >= 0 ? "text-success" : "text-danger")>@budget.Value.ToString("C", CultureInfo.GetCultureInfo("en-gb"))</td>
						<td>
							<a class="btn btn-danger" asp-controller="Home" asp-action="DeleteResult" asp-route-id="@budget.Id">Delete</a>
						</td>
					</tr>
				}

			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<strong>Value:</strong> 
			<span class="@(Model.Sum(x => x.Value) >= 0 ? "text-success" : "text-danger")">
				@Model.Sum(x => x.Value).ToString("C", CultureInfo.GetCultureInfo("en-gb"))
			</span>
		</div>
	</div>
</div>